.policy{
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--color-text);
    font-size: var(--font-size-small);
    font-family: var(--font-family-Muli);
}
.policy > span {
    width: 100%;
    text-align: center;

}
.policyTerms{
    width: 100%;
    text-align: center;
}
.terms{
    text-align: center;
    margin-right: 1%;
}